# .gitignore
wa_cred.py
*.env
*.log
WOW_miner.log
WOW_miner.log
DERO_miner.log
WOW_miner.log
XMR_miner.log
WOW_miner.log
__pycache__/wa_cred.cpython-312.pyc
__pycache__/wa_functions.cpython-312.pyc
test.py
__pycache__/wa_cred.cpython-313.pyc
__pycache__/wa_definitions.cpython-313.pyc
__pycache__/wa_functions.cpython-313.pyc
miners/